.age__image {
  position: absolute;
  bottom: 24px;
  right: 24px;
  max-height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .age__image {
    height: 75%;
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .age__image {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .age__image {
    width: 115px;
    height: 115px;
    bottom: 28%;
    right: 60%;
  }
}
