.lead {
  /* max-height: 1440px; */
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 100px;
  background: #ebebeb;
  position: relative;
}

@media screen and (max-width: 600px) {
  .lead {
    height: 80vh;
    overflow: hidden;
  }
}
@media screen and (max-width: 425px) {
  .lead {
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 60px;
  }
}
