.header {
  max-width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: -100px;
  z-index: 100;
  position: relative;
  padding-right: 65px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-right: 0;
  }
}
