.age__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 1.37;
  justify-self: flex-start;
  margin-top: 46px;
  margin-bottom: 42px;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .age__title {
    font-size: 28px;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-left: 50px;
  }
}
