.freebie__image {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 425px) {
  .freebie__image {
    width: 80%;
  }
}
