.lead__image {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 600px) {
  .lead__image {
    width: 1363px;
    left: -50%;
    bottom: -50%;
    transform: translate(-20%, -40%);
    -webkit-transform: translate(-20%, -40%);
    -moz-transform: translate(-20%, -40%);
    -ms-transform: translate(-20%, -40%);
    -o-transform: translate(-20%, -40%);
  }
}
