.form__select {
  background: url(../../../images/arrow.svg) no-repeat white;
  background-position: 95% center;
  background-size: 30px 30px;
}

.form__select:focus {
  border: 4px solid #40a6a9;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .form__select {
    min-height: 70px;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
  }
}
