.section__title {
  max-width: 650px;
  font-size: 48px;
  line-height: 1.37;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 425px) {
  .section__title {
    font-size: 32px;
    font-weight: 400;
  }
}
